<% include ../partials/header %>
<% var authParam = query.split('authorized=')[1] %>
<% if(authParam === 'false') { %>
    <div class="warning">
        You are not authorized to do that! Only the original author can delete that!
    </div>
<% } %>
<div class="container mt-3">
    <div class="row d-flex">
        <div class="col-3">
            <p class="lead">Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Info</li>
                <li class="list-group-item">Edit</li>
                <li class="list-group-item">Delete</li>
            </div>
            <!--map-->
        </div>
        <div class="col-9">
            <div class="card mb-1">
                <figure class="figure m-1">
                    <img class="figure-img card-img-top img-fluid rounded" src="<%= camp['img'] %>">
                    <figcaption class="figure-caption row">
                        <div class="col-sm-4">
                            <span class="campName font-weight-bold text-uppercase">
                                <a href="/"><%= camp['name'] %></a>
                            </span>
                            <span class="price">
                                $9.00/night
                            </span>
                            <span class="author">
                                Submitted by: <%= camp['author']['username']%>
                            </span>
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <% if(currentUser) { %>
                            <div class ="col-sm-4">
                            <div class="btn-group float-right">
                                <button class="btn btn-sm btn-primary" onclick="window.location.href='<%= camp['id'] %>/edit'">Edit</button>
                                <% if (camp.author.id.equals(currentUser._id)) { %>
                                <form action="/camps/<%= camp["id"] %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-warning">Delete</button>
                                </form>
                                <% } %>
                            </div>
                        </div>
                       <% } %>
                    </figcaption>
                </figure>
                <div class="card-body">
                    <p class="card-text">
                    <%= camp['desc'] %>
                    </p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="text-right">
                        <a href="/camps/<%= camp['_id']%>/comments/new" class="btn btn-primary btn-sm m-1">Add a comment</a>
                </div>
                <% camp['comments'].forEach((comment) => { %>
                    <div class="row m-1">
                        <div class="col-md-12">
                            <span class="font-weight-bold">
                                <%= comment.author.username %>
                            </span>
                            <!-- rating here -->
                            <span class="float-md-right">
                                <%= comment.created.toDateString() %>
                            </span>
                            <p>
                                <%= comment.text %>
                                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-primary" onclick="window.location.href='<%= camp['_id'] %>/comments/<%= comment['_id']%>/edit'">Edit Comment</button>
                                        <form action="/camps/<%= camp['_id'] %>/comments/<%= comment['_id']%>?_method=DELETE" method="POST">
                                            <button class="btn btn-sm btn-warning">Delete</button>
                                        </form>
                                    </div>
                                <% } %>
                            </p>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>