<% include ../partials/header %>

<div class="container mt-3">
    <div class="row d-flex">
        <div class="col-3">
            <p class="lead">Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Info</li>
                <li class="list-group-item">contact</li>
                <li class="list-group-item">email</li>
            </div>
            <!--map-->
        </div>
        <div class="col-9">
            <div class="card mb-1">
                <figure class="figure m-1">
                    <img class="figure-img card-img-top img-fluid rounded" src="<%= camp['img'] %>">
                    <figcaption class="figure-caption">
                        <span class="font-weight-bold text-uppercase lead">
                            <a href="/"><%= camp['name'] %></a>
                            </span>
                        <span class="float-right">
                            $9.00/night
                        </span>
                    </figcaption>
                </figure>
                <div class="card-body">
                    <p class="card-text">
                    <%= camp['desc'] %>
                    </p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="text-right">
                        <a href="/camps/<%= camp['_id']%>/comments/new" class="btn btn-primary btn-sm m-1">Add a comment</a>
                </div>
                <% camp['comments'].forEach((comment) => { %>
                    <div class="row m-1">
                        <div class="col-md-12">
                            <span class="font-weight-bold">
                                <%= comment.author.username %>
                            </span>
                            <!-- rating here -->
                            <span class="float-md-right">
                                <%= comment.created.toDateString() %>
                            </span>
                            <p>
                                <%= comment.text %>
                            </p>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>