<% include ../partials/header %>

<div class="container">
    <div class="row d-flex">
        <div class="col-3">
            <p class="lead">Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Info</li>
                <li class="list-group-item">contact</li>
                <li class="list-group-item">email</li>
            </div>
            <!--map-->
        </div>
        <div class="col-9">
            <div class="card">
                <figure class="figure">
                    <img class="figure-img card-img-top img-fluid rounded" src="<%= camp['img'] %>">
                    <figcaption class="figure-caption text-right"><h4><a href="/"><%= camp['name'] %></a></h4> $9.00/night</figcaption>
                </figure>
                <div class="card-body">
                    <p class="card-text">
                    <%= camp['desc'] %>
                    </p>
                </div>
            </div>
            <p>
                <a href="/camps/<%= camp['_id']%>/comments/new" class="btn btn-primary btn-md">Add a comment</a>
            </p>
            <% camp['comments'].forEach((comment) => { %>
                <p> <%= comment.author %> : <%= comment.text %> </p>
            <% }); %>
        </div>
    </div>
</div>
<% include ../partials/footer %>