<% include partials/header %>

<h2><%= camp['name'] %></h2>
<img src="<%= camp['img'] %>">
<p>
<%= camp['desc'] %>
</p>

<% camp['comments'].forEach((comment) => { %>
    <p> <%= comment.author %> : <%= comment.text %> </p>
    <% console.log(comment)%>
<% }); %>
<% include partials/footer %>